@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

body {
    background-image: url(/assets/fondo.png);
}

.legal-notice-container {
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }
  
  .legal-notice-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .legal-notice-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .legal-notice-title {
    color: #b51739;
    font-size: 2rem;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .legal-notice-subtitle {
    color: #b51739; 
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .legal-notice-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .legal-notice-list {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .legal-notice-list li {
    margin-bottom: 10px;
  }