/* Estilo del preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #b51739, #ff4d4f);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

/* Contenedor del logo */
.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo animado */
.logo_preloader {
  width: 150px; /* Tamaño del logo */
  height: 150px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid #000000;
  border-right: 5px solid #000000;
}


